/* @import url('https://fonts.googleapis.com/css?family=Roboto:300'); */

  .cat-image {
    width: 200px;
    height: 200px;
    margin-right: 2px;
    margin-bottom: 2px
    /*
    max-width: 200px;
    max-height: 200px;
    */
  }
  
  .grid-container {
    /*display: inline-grid;*/
    justify-content: start;
    align-items: start;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    grid-auto-flow: row;
  }


  ol {
    color: #555;
    list-style-type: disc;
  }
   
  ol li {
    position: relative;
    font: bold italic 20px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 20px;
  }

  .title{
    color:#22426C;
    font: bold italic 14px/1.5 Helvetica, Verdana, sans-serif;
  }

  @media all and (-ms-high-contrast: none) {
    .grid-container {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr;
    }
  }
 