/*
:root {
  --nav-width: 100px;
}
*/

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.header {
  grid-column: span 12;
}
.navigation-menu {
  grid-column: span 4;
}
.main-content {
  grid-column: span 8;
}
.footer {
  grid-column: span 12;
}

h1 {
  color: #34848B;
  font: bold italic 26px/1.5 Helvetica, Verdana, sans-serif;
}

h2 {
  color: #DD5246;
  font: bold italic 18px/1.5 Helvetica, Verdana, sans-serif;
}
